@model IEnumerable<FinancieraAmetrano.Models.Cuentas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.saldo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaApertura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.clientesID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monedas.descripcionMoneda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productos.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sucursales.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.saldo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaApertura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.clientesID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monedas.descripcionMoneda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productos.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sucursales.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cuentasID }) |
            @Html.ActionLink("Details", "Details", new { id=item.cuentasID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cuentasID })
        </td>
    </tr>
}

</table>
